<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>
      <hr>
      <div class="row">
        <div class="col-md-4">
          <%= image_tag "sherry.JPG", width: "300", alt: "profile image", class: 'profile-image' %>
        </div>
        
        <div class="col-md-8">
          <p> Developing software is my passion.  </p>
          <p>I am a highly motivated software/web developer that focuses on building software
          customized to work the way you want. With a keen eye to detail and understanding
          of the needs of a diverse group of industries, I will  create 
          solutions that will revolutionize your business.</p>
        </div>
      </div>
  </div>
</div>



  