<div class="app-card-container">
  <div class="card">

      <h1>Would you like to work together?</h1>
      <hr>
      
      <div class="row address">
        <div class="col-md-6">
          <h3>Address</h3>
          <p>2331 W. Jasper Butte Drive, Queen Creek, Arizona 85142</p>
          <h3>Phone</h3>
          <p><%= number_to_phone "6024328593" %></p>
          <h3>Email</h3>
          <p><a href="mailto:swasieko@gmail.com">Email Me</a></p>
        </div>
        
        <div class="col-md-6">
          
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3339.515131276357!2d-111.59323068486495!3d33.174353980853915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872a4ebe8390260b%3A0xc263a91e438a2969!2s2331+W+Jasper+Butte+Dr%2C+Queen+Creek%2C+AZ+85142!5e0!3m2!1sen!2sus!4v1554749825295!5m2!1sen!2sus" width="400" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3334.766949362526!2d-112.08736122100903!3d33.298759464601346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872b1b0e6b929e41%3A0x4ccbcbe2fb62d0a5!2s749+W+Wildwood+Dr%2C+Phoenix%2C+AZ+85045!5e0!3m2!1sen!2sus!4v1500947185675" width="400" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>-->
        </div>
      </div>
  </div>
</div>





