

<div class="inner cover">
   <h1 class="cover-heading display-1">I'm Sherry, a Full-Stack Web Developer.</h1>
   <h4>I have explored several tools and languages such as Python, C#, Node.js and Ruby with the Rails framework.  I prefer Ruby and Python.</h4> 
     <p class="lead"><span class="element"></span></p>
     
     <p class="lead">
      
       <%= link_to "About Me", about_me_path, class: 'btn btn-lg btn2' %>
     </p>
</div>







