

<div class="inner cover">
   <h1 class="cover-heading">Welcome To My World</h1>
     <p class="lead">Design is not just what it looks like and feels like. Design is how it works.</p>
     <p><em>-Steve Jobs</em></p>
     <p class="lead">
      
       <%= link_to "About Me", about_me_path, class: 'btn btn-lg btn-secondary' %>
     </p>
</div>







